* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
}
header {
	font-size: 1.5rem;
}
header,
section {
	margin: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-width: 70%;
	padding: 1rem;
	background-color: #f2f2f2;
	box-shadow: 3px 3px 10px grey;
}
label {
	margin: 5px;
}
input[type="text"],
textarea {
	width: 100%;
	padding: 15px;
	border: 1px solid #ccc;
	resize: vertical;
}
.message-and-button {
	margin-top: 0.5rem;
	padding: 0.5rem;
	padding-right: 0rem;
	display: flex;
	flex-direction: row;
}
.message-and-button .message {
	padding: 0.5rem;
	font-size: 15px;
	flex: 1;
}
.message-and-button .message p {
	float: right;
}
input[type="submit"] {
	background-color: #4caf50;
	color: white;
	padding: 15px;
	min-width: 20%;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #45a049;
}
input,
textarea:focus {
	outline: none;
}
